h1{
  font-family: 'Montserrat', sans-serif;
}

#inputPane{
  width:38%;
  float:left;
  margin: 1%;
}

#boardPane{
  width:60%;
  float:left;
}

#buttons{
  width: 60%;
  display:block;
  clear:both;
  margin: 0 auto;
}


#boardInnerPane{
  width: 100%;
  display:block;
  clear:both;
}

#board{
  margin: 0 auto;
}

input{
  display:block;
  clear:both;
  width: 10%;
  border: 1px solid #555;
}

h1 {
  text-align: center;
}

div.inline{
  float:left;
}

div.clearboth{
  width:100%;
  clear:both;
}

div.cell{
  border: 1px solid black;
  width:10px;
  height:10px;
}

div.live {
  background-color: white;
}

div.dead {
  background-color: #444;
}

.input{
  margin: 2% auto;
}
