#board{
  float:left;
}

input, button {
  display: block;
}

div.inline{
  float:left;
}

div.clearboth{
  clear:both;
}

div.cell{
  border: 1px solid black;
  width:10px;
  height:10px;
}

div.live {
  background-color: white;
}

div.dead {
  background-color: grey;
}
